body {
    margin: 0;
    padding: 0;
    
}

#container {
    width: 50vh;
    display: flex;
    background-color: rgb(233, 212, 212);  
    margin: auto; 
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 2px 2px 10px black;
}
#pagar {
    margin: 8px;  
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 100%;
    
    
}

#data {
    margin-bottom: 10px;
}

form input{
    display: flex;
    margin-top: 3px;
}

h2 {
    font-size: 20px;
}

label {
    font-weight: bold;
    display: flex;
    margin: 2px;

}

#enviar {
    margin-top: 10px;
}

.num {
    width: 2em;
    display: flex;
    text-align: center;
    margin: 5px;
}

#header {
    display: flex;
    flex-direction: column;
}
.bloco{
    display: flex;
    margin-top: 0.3em;
    align-items: center;
    
    
}

.bloc {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    
}